.table_header {
    text-align: center;
    min-width: 100px;
    vertical-align: middle;
}

.table_reserved {
    background-color: red;
    color: white;
    text-align: center;
    min-width: 100px;
    vertical-align: middle;
    cursor: pointer;
}
.table_reserved1 {
    background-color: blue;
    color: white;
    text-align: center;
    min-width: 100px;
    vertical-align: middle;
    cursor: pointer;
}
.table_free {
    background-color: green;
    color: white;
    text-align: center;
    min-width: 100px;
    vertical-align: middle;
    cursor: pointer;
}

.container_summary{
  left: 0;
  max-width: 1500px;
  max-height: 480px;
  overflow: scroll;
}

/* Use position: sticky to have it stick to the edge
 * and top, right, or left to choose which edge to stick to: */

.head_summary th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
}

.body_summary th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  left: 0;
}


/* To have the header in the first column stick to the left: */

.head_summary th:first-child {
  left: 0;
  z-index: 2;
}

.head_summary th {
  background: #FFF;
  left: 0;
  /* Ensure this stays above the emulated border right in tbody th {}: */
  z-index: 1;
}

.body_summary th {
  background: #FFF;
  left: 0;
}
